<!-- Button trigger modal -->
<button class="button" data-bs-toggle="modal" data-bs-target="#createtripModal">
  Add Trip
</button>

<!-- Modal -->
<div class="modal fade" id="createtripModal" tabindex="-1" aria-labelledby="createtripModalLabel" aria-hidden="true">
  <div class="modal-dialog  modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="createtripModalLabel">Create a new trip</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= simple_form_for(trip) do |f| %>
          <div class="form-inputs">
            <%= f.input :city%>
            <%= f.input :start_date, as: :string, input_html: { data: { controller: "flatpickr" } } %>
            <%= f.input :end_date, as: :string, input_html: { data: { controller: "flatpickr" } } %>
          </div>
          <div class="form-actions">
            <%= f.button :submit %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
