<h1>trip to <%= @trip.city %> for <%= @trip.user.name %></h1>
<p>from <%= @trip.start_date %> to <%= @trip.end_date %></p>
<%= render "trips/edit_trip_modal", trip: @trip %>
<br>
<% if @trip.trip_experiences.size > 0 %>
  <% @trip.trip_experiences.each do |trip_exp| %>

    <%# <h3>TODO: <%= Experience.find(trip_exp[:experience_id]).name %>
    <h3>TODO: <%= trip_exp.experience.name %></h3>
    <%= link_to "ðŸ—‘ï¸", trip_experience_path(trip_exp), data: { turbo_method: :delete, turbo_confirm: 'Sure you want to delete that experience from your trip?' }, class: "button"  %>

  <% end %>
<% end %>
<br>
<p><%= link_to "See some suggestions?", my_experiences_path(@trip), class: "button" %></p>
<br>
<p><%= link_to "Delete that trip", trip_path(@trip), data: { turbo_method: :delete, turbo_confirm: 'Sure you want to delete that trip?' }, class: "button" %></p>
