<h1>trip to <%= @trip.city %> for <%= @trip.user.name %></h1>
<div class="d-flex justify-content-evenly my-3">
  <p>from <%= @trip.start_date %> <br> to <%= @trip.end_date %></p>
  <%= render "trips/edit_trip_modal", trip: @trip %>
</div>
<br>
<% if @trip.trip_experiences.size > 0 %>
  <% @trip.trip_experiences.each do |trip_exp| %>

    <h3>TODO: <%= trip_exp.experience.name %></h3>
    <%= link_to "ðŸ—‘ï¸", trip_experience_path(trip_exp), data: { turbo_method: :delete, turbo_confirm: 'Sure you want to delete that experience from your trip?' }, class: "button"  %>

  <% end %>
<% end %>

<div class="d-flex justify-content-evenly my-3">
  <button class="button"><%= link_to "See Suggestions", my_experiences_path(@trip) %></button>
  <button class="button"><%= link_to "Delete Trip", trip_path(@trip), data: { turbo_method: :delete, turbo_confirm: 'Sure you want to delete that trip?' } %></button>
</div>
