<style>
  .outline {
    border: 1px solid;
    border-color: #F8BBD5;
    border-radius: 15px;
    padding: 25px;
  }
</style>

<div class="container">
  <div class="outline">

    <h1>Update your interests</h1>

    <%= simple_form_for(current_user) do |f| %>
      <hr>
      <%= f.simple_fields_for :preferences do |preference| %>
        <%= render 'preference_fields', f: preference %>
      <% end %>
      <div class="links">
        <button class="add-tag-button"><%= link_to_add_association 'Add Interest', f, :preferences %></button>
      </div>
      <div class="d-flex justify-content-center my-3">
        <%= f.submit %>
      </div>
    <% end %>
  </div>
</div>
