<h1>Show Page - Welcome, <%= @user.name %>!</h1>
<h3>Here is your information:</h3>
<h4>Email: <%= @user.email %></h4>

<% if !@user.preferences.nil? %>
  <% @user.preferences.each do |preference| %>
    <p><%= preference.tag.name %></p>
  <% end %>
<% end %>

<%= link_to "edit your profile", profile_edit_path %>

<%= render "trips/list", trips: @trips %>

<%= render "trips/new_trip_modal", trip: @trip %>
