<div class="show-container">
  <h3>My preferences</h3>
  <% if !@user.preferences.nil? %>
    <div class="preference-card">
      <% @user.tags.each do |tag| %>
        <%= render 'shared/preference_tag_card', tag: tag %>
      <% end %>
    </div>
  <% end %>
</div>
<div class="show-container">
  <h3>My Trips</h3>

  <%= render "trips/new_trip_modal", trip: @trip %>

</div>
<%= render "shared/city_card" %>
<%= render "shared/city_card" %>
<%= render "shared/city_card" %>
