<h1>Hello, <%= @user.name %>!</h1>

<h3>Your Experiences</h3>
<% @experiences.each do |experience| %>
  <h4><%= experience.name %></h4>
  <h5><%= experience.location %></h5>
  <img src="<%= experience.image_url %>" alt="" style="height: 100px">
  <%= link_to "Edit this Experience", edit_experience_path(experience) %>
  <div><%= link_to "Delete this Experience", experience_path(experience), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this experience?" } %></div>
  <h6>TAGS:</h6>
  <% experience.experience_tags.each do |exp_tag| %>
    <ul>
      <li><%= exp_tag.tag.name %></li>
    </ul>
  <% end %>
<% end %>
<div class="container">
  <%= render 'shared/city_card' %>
  <br>
  <%= render 'shared/experience_card' %>
  <br>
  <%= render 'shared/preference_tag' %>
  <br>
  <%= render 'shared/preference_tag_selected' %>
</div>
