<style>
  .add-button {
    display:flex;
    justify-content: center;
  }
  .grouping {
    display: flex;
    justify-content: space-around;
  }
</style>

<div class="grouping">
  <button class="button"><%= link_to "Back to Suggestions", my_experiences_path(@trip) %></button>
  <button class="button"><%= link_to "Trip Completed", trip_path(@trip) %></button>
</div>
<div class="add-button">
  <button class="button"><%=link_to "Add to #{@trip.city} Trip", my_experience_path(@trip, @experience), data: { 'turbo-method' => :post } %></button>
</div>
<%= render 'experience_content', experience: @experience %>



<%# test to add the chatroom code in a partial %>
<%= render 'chatroom_content', experience: @experience, message: @message %>
<%# test to add the chatroom code in a partial %>

<%# test to add the reviews code in a partial %>
<%= render 'review_content', experience: @experience, review: @review %>
<%# test to add the reviews code in a partial %>
