<div class="mx-3">
<%= render 'experience_content', experience: @experience %>
</div>
<div class="add-button mx-4">
  <button class="button experience"><%=link_to "Add to My Trip", my_experience_path(@trip, @experience), data: { 'turbo-method' => :post } %></button>
  <button class="button experience back"><%= link_to "Back to Suggestions", my_experiences_path(@trip) %></button>
</div>
<%# test to add the chatroom code in a partial %>
<%= render 'chatroom_content', experience: @experience, message: @message %>
<%# test to add the chatroom code in a partial %>

<%# test to add the reviews code in a partial %>
<%= render 'review_content', experience: @experience, review: @review %>
<%# test to add the reviews code in a partial %>
