<% if @selected_experiences.size.positive?  %>
  <h1>Here are some suggestions for you</h1>
  <h1>We found <%= @selected_experiences.size %> suggestions for you</h1>

    <% @selected_experiences.each do |experience| %>
      <%= render 'shared/experience_card', experience: experience %>
      <%= link_to "View this suggestion", my_experience_path(@trip, experience) %>
    <% end %>

<% else %>
  <h1>Sorry, we didn't find any suggestion in <%= @trip.city %> according to your preferences.</h1>
<% end %>
<p><%= link_to "I'm done with my trip", trip_path(@trip) %></p>
