<%= render 'experience_content', experience: @experience %>

<p><%=link_to "add this to my trip to #{@trip.city}", my_experience_path(@trip, @experience), data: { 'turbo-method' => :post }, class: "button" %>
   <%= link_to "back to suggestions", my_experiences_path(@trip), class: "button" %>
   <%= link_to "I'm done with my trip", trip_path(@trip), class: "button" %>
</p>

<%# test to add the chatroom code in a partial %>
<%= render 'chatroom_content', experience: @experience, message: @message %>
<%# test to add the chatroom code in a partial %>

<%# test to add the reviews code in a partial %>
<%= render 'review_content', experience: @experience, review: @review %>
<%# test to add the reviews code in a partial %>
