<div class="container">
  <%= simple_form_for(@experience) do |f| %>
    <%= f.input :name %>
    <%= f.input :location %>
    <%= f.input :description %>
    <%= f.input :image_url %>
    <%= f.input :address %>
    <hr>
    <%= f.simple_fields_for :experience_tags do |experience_tag| %>
      <br>
        <%= render 'experience_tag_fields', f: experience_tag %>
      <br>
    <% end %>
    <div class="links">
      <button class="add-tag-button"><%= link_to_add_association 'Add Tag', f, :experience_tags %></button>
    </div>
    <div class="d-flex justify-content-center my-3">
      <%= f.submit %>
    </div>
  <% end %>
</div>
