
<div class="container" style="background-image: url(<%= @experience.image_url %>)">
  <h1><%= @experience.name %></h1>
  <h3><%= @experience.location %></h3>
  <p><%= @experience.description %></p>
  <p><%= @experience.local.name %></p>
  <br>
  <br>
  <br>
</div>

<div class="container chatroom"
     data-controller="chatroom-subscription"
     data-chatroom-subscription-experience-id-value="<%= @experience.id %>">
  <h1>#<%= @experience.name %></h1>
  <%# display your messages %>
  <div class="messages" data-chatroom-subscription-target="messages">
    <% @experience.messages.each do |message| %>
      <%= render "messages/message", message: message %>
    <% end %>
  </div>

  <%= simple_form_for [@experience, @message],
    html: { data: { action: "turbo:submit-end->chatroom-subscription#resetForm" }, class: "d-flex"} do |f| %>

    <%= f.input :content,
      label: false,
      placeholder: "Message ##{@experience.name}",
      wrapper_html: {class: "flex-grow-1"}
    %>

    <%= f.submit "Send", class: "btn btn-primary mb-3" %>
  <% end %>
</div>

<%# add a message %>
