
<div class="container" style="background-image: url(<%= @experience.image_url %>)">
  <h1><%= @experience.name %></h1>
  <h3><%= @experience.location %></h3>
  <p><%= @experience.description %></p>
  <p><%= @experience.local.name %></p>
  <br>
  <br>
  <br>
</div>
